<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/labs/Module%204/logo.png" width="300" alt="cognitiveclass.ai logo" />
</center>

# Assignment

-   [Story](#story)
-   [Components of the report items](#components-of-the-report-items)
-   [Expected layout](#expected-layout)
-   [Requirements to create the dashboard](#requirements-to-create-the-dashboard)
-   [What is new in this exercise compared to other labs?](#what-is-new-in-this-exercise-compared-to-other-labs?)
-   [Review](#review)
-   [Hints to complete TODOs](#hints-to-complete-todos)
-   [Application](#application)

## Story:

As a data analyst, you have been given a task to monitor and report US domestic airline flights performance. Goal is to analyze the performance of the reporting airline to improve fight reliability thereby improving customer relaibility.

Below are the key report items,

-   Yearly airline performance reportÂ 
-   Yearly average flight delay statistics

_NOTE:_ Year range is between 2005 and 2020.

## Components of the report items

1.  Yearly airline performance report 

    For the chosen year provide,

    -   Number of flights under different cancellation categories using bar chart.
    -   Average flight time by reporting airline using line chart.
    -   Percentage of diverted airport landings per reporting airline using pie chart.
    -   Number of flights flying from each state using choropleth map.
    -   Number of flights flying to each state from each reporting airline using treemap chart.
2.  Yearly average flight delay statistics

    For the chosen year provide,

    -   Monthly average carrier delay by reporting airline for the given year.
    -   Monthly average weather delay by reporting airline for the given year.
    -   Monthly average natioanl air system delay by reporting airline for the given year.
    -   Monthly average security delay by reporting airline for the given year.
    -   Monthly average late aircraft delay by reporting airline for the given year.

    _NOTE:_ You have worked created the same dashboard components in `Flight Delay Time Statistics Dashboard` section. We will be reusing the same.

## Expected Layout

<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/labs/Module%205/Layout.png" width="2000" alt="cognitiveclass.ai logo"/>
</center>

## Requirements to create the dashboard

-   Create dropdown using the reference [here](https://dash.plotly.com/dash-core-components/dropdown?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)
-   Create two HTML divisions that can accomodate two components (in one division) side by side. One is HTML heading and the other one is dropdown.
-   Add graph components. 
-   Callback function to compute data, create graph and return to the layout.

## What's new in this exercise compared to other labs?

-   Make sure the layout is clean without any defualt graphs or graph layouts. We will do this by 3 changes:

    1.  Add `app.config.suppress_callback_exceptions = True` right after `app = JupyterDash(__name__)`.
    2.  Having empty html.Div and use the callback to Output the dcc.graph as the Children of that Div. 
    3.  Add a state variable in addition to callback decorator input and output parameter. This will allow us to pass extra values without firing the callbacks. 
        Here, we need to pass two inputs `chart type` and `year`. Input is read only after user entering all the information.

-   Use new html display style `flex` to arrange the dropdown menu with description.

-   Update app run step to avoid getting error message before initiating callback.

_NOTE:_ These steps are only for review.

## Review

Search/Look for review to know how commands are used and computations are carried out. There are 7 review items.

-   REVIEW1: Clear the layout and do not display exception till callback gets executed.
-   REVIEW2: Dropdown creation.
-   REVIEW3: Observe how we add an empty division and providing an id that will be updated during callback.
-   REVIEW4: Holding output state till user enters all the form information. In this case, it will be chart type and year.
-   REVIEW5: Number of flights flying from each state using choropleth
-   REVIEW6: Return dcc.Graph component to the empty division
-   REVIEW7: This covers chart type 2 and we have completed this exercise under Flight Delay Time Statistics Dashboard section

## Hints to complete TODOs

### TODO1

Reference [link](https://dash.plotly.com/dash-html-components/h1?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

-   Provide title of the dash application title as `US Domestic Airline Flights Performance`.
-   Make the heading center aligned, set color as `#503D36`, and font size as `24`.
    Sample: style={'textAlign': 'left', 'color': '#000000', 'font-size': 0}

### TODO2

Reference [link](https://dash.plotly.com/dash-core-components/dropdown?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

Create a dropdown menu and add two chart options to it.

Parameters to be updated in `dcc.Dropdown`:

-   Set `id` as `input-type`.
-   Set `options` to list containing dictionaries with key as `label` and user provided value for labels in `value`. 

    _1st dictionary_

    -   label: Yearly Airline Performance Report
    -   value: OPT1

    _2nd dictionary_

    -   label: Yearly Airline Delay Report
    -   value: OPT2
-   Set placeholder to `Select a report type`.
-   Set width as `80%`, padding as `3px`, font size as `20px`, text-align-last as `center` inside style parameter dictionary.

#### Skeleton:

```
  dcc.Dropdown(id='....', 
                   options=[
                           {'label': '....', 'value': '...'},
                           {'label': '....', 'value': '...'}
                           ],
                  placeholder='....',
                  style={....})
```

### TODO3

Add a division with two empty divisions inside. For reference, observe how code under `REVIEW` has been structured.

Provide division ids as `plot4` and `plot5`. Display style as `flex`.

#### Skeleton

```
html.Div([
         html.Div([ ], id='....'),
         html.Div([ ], id='....')
         ], style={....})
```

### TODO4

Our layout has 5 outputs so we need to create 5 output components. Review how input components are constructured to fill in for output component.

It is a list with 5 output parameters with component id and property. Here, the component property will be `children` as we have created empty division and passing in `dcc.Graph` after computation.

Component ids will be `plot1` , `plot2`, `plot2`, `plot4`, and `plot5`.

#### Skeleton

```
[Output(component_id='plot1', component_property='children'),
 Output(....),
 Output(....),
 Output(....),
 Output(....)]
```

### TODO5

Deals with creating line plots using returned dataframes from the above step using `plotly.express`. Link for reference is [here](https://plotly.com/python/line-charts?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

Average flight time by reporting airline

-   Set figure name as `line_fig`, data as `line_data`, x as `Month`, y as `AirTime`, color as `Reporting_Airline` and `title` as `Average monthly flight time (minutes) by airline`.

#### Skeleton

```
carrier_fig = px.line(avg_car, x='Month', y='CarrierDelay', color='Reporting_Airline', title='Average carrrier delay time (minutes) by airline')`
```

)

### TODO6

Deals with creating treemap plot using returned dataframes from the above step using `plotly.express`. Link for reference is [here](https://plotly.com/python/treemaps?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

Number of flights flying to each state from each reporting airline

-   Set figure name as `tree_fig`, data as `tree_data`, path as `['DestState', 'Reporting_Airline']`, values as `Flights`, colors as `Flights`, color_continuous_scale as `'RdBu'`, and title as `'Flight count by airline to destination state'`

#### Skeleton

```
tree_fig = px.treemap(data, path=['...', '...'], 
                      values='...',
                      color='...',
                      color_continuous_scale='...',
                      title='...'
                )
```

In [2]:
# Import required libraries
import pandas as pd
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output, State
from jupyter_dash import JupyterDash
import plotly.graph_objects as go
import plotly.express as px
from dash import no_update

In [ ]:

# Create a dash application
app = JupyterDash(__name__)
JupyterDash.infer_jupyter_proxy_config()

# REVIEW1: Clear the layout and do not display exception till callback gets executed
app.config.suppress_callback_exceptions = True

# Read the airline data into pandas dataframe
airline_data =  pd.read_csv('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork/Data%20Files/airline_data.csv', 
                            encoding = "ISO-8859-1",
                            dtype={'Div1Airport': str, 'Div1TailNum': str, 
                                   'Div2Airport': str, 'Div2TailNum': str})


# List of years 
year_list = [i for i in range(2005, 2021, 1)]

"""Compute graph data for creating yearly airline performance report 

Function that takes airline data as input and create 5 dataframes based on the grouping condition to be used for plottling charts and grphs.

Argument:
     
    df: Filtered dataframe
    
Returns:
   Dataframes to create graph. 
"""

In [1]:
year_list

NameError: name 'year_list' is not defined

In [8]:
airline_data

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,821542,2017,1,1,24,2,2017-01-24,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26996,1910565,2013,2,6,27,4,2013-06-27,B6,20409,B6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26997,9055,2016,3,8,26,5,2016-08-26,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26998,84136,2009,3,8,8,6,2009-08-08,YV,20378,YV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26999,113029,1993,3,7,17,6,1993-07-17,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
airline_data.shape

(27000, 110)

In [10]:
airline_data[['Month','CancellationCode','Reporting_Airline','AirTime','Flights','DivAirportLandings','OriginState']]

,Month,CancellationCode,Reporting_Airline,AirTime,Flights,DivAirportLandings,OriginState
0,4,NaN,AS,37.0,1.0,NaN,WA
1,5,NaN,EV,54.0,1.0,0.0,NJ
2,9,NaN,UA,NaN,1.0,NaN,IL
3,11,NaN,HP,NaN,1.0,NaN,CA
4,8,NaN,UA,102.0,1.0,0.0,IA
...,...,...,...,...,...,...,...
26995,1,NaN,DL,53.0,1.0,0.0,WI
26996,6,NaN,B6,202.0,1.0,0.0,MA
26997,8,NaN,AA,209.0,1.0,0.0,TX
26998,8,NaN,YV,19.0,1.0,0.0,CO
26999,7,NaN,DL,NaN,1.0,NaN,AR

## Application

In [11]:
def compute_data_choice_1(df):
    # Cancellation Category Count
    bar_data = df.groupby(['Month','CancellationCode'])['Flights'].sum().reset_index()
    # Average flight time by reporting airline
    line_data = df.groupby(['Month','Reporting_Airline'])['AirTime'].mean().reset_index()
    # Diverted Airport Landings
    div_data = df[df['DivAirportLandings'] != 0.0]
    # Source state count
    map_data = df.groupby(['OriginState'])['Flights'].sum().reset_index()
    # Destination state count
    tree_data = df.groupby(['DestState', 'Reporting_Airline'])['Flights'].sum().reset_index()
    return bar_data, line_data, div_data, map_data, tree_data


"""Compute graph data for creating yearly airline delay report

This function takes in airline data and selected year as an input and performs computation for creating charts and plots.

Arguments:
    df: Input airline data.
    
Returns:
    Computed average dataframes for carrier delay, weather delay, NAS delay, security delay, and late aircraft delay.
"""

'Compute graph data for creating yearly airline delay report\n\nThis function takes in airline data and selected year as an input and performs computation for creating charts and plots.\n\nArguments:\n    df: Input airline data.\n    \nReturns:\n    Computed average dataframes for carrier delay, weather delay, NAS delay, security delay, and late aircraft delay.\n'

In [12]:
df=airline_data
bar_data, line_data, div_data, map_data, tree_data=compute_data_choice_1(df)

In [13]:
bar_data

    Month CancellationCode  Flights
0       1                A      6.0
1       1                B     22.0
2       1                C      4.0
3       2                A     11.0
4       2                B     19.0
5       2                C      5.0
6       3                A      6.0
7       3                B      6.0
8       3                C      4.0
9       3                D     10.0
10      4                A      4.0
11      4                B      4.0
12      4                C      4.0
13      5                A      4.0
14      5                B      9.0
15      5                C      4.0
16      6                A     12.0
17      6                B      4.0
18      6                C      4.0
19      7                A      9.0
20      7                B      3.0
21      7                C      8.0
22      8                A      8.0
23      8                B      8.0
24      8                C      4.0
25      9                A      5.0
26      9                B     11.0
27      9                C      3.0
28     10                A      3.0
29     10                B      3.0
30     10                C      2.0
31     11                A      7.0
32     11                B      3.0
33     11                C      5.0
34     12                A      4.0
35     12                B     17.0
36     12                C      5.0

In [19]:
line_data

     Month Reporting_Airline     AirTime
0        1                9E   64.545455
1        1                AA  137.628571
2        1                AS  130.142857
3        1                B6  163.951220
4        1                CO  122.945455
..     ...               ...         ...
376     12                VX  231.000000
377     12                WN   89.423676
378     12                XE   89.131579
379     12                YV   67.722222
380     12                YX  119.875000

[381 rows x 3 columns]

In [20]:
div_data

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1975839,2002,1,1,25,5,2002-01-25,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1912303,2005,3,8,1,1,2005-08-01,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26989,387404,1996,2,4,19,5,1996-04-19,AA,19805,AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26991,1789847,2005,2,6,26,7,2005-06-26,NW,19386,NW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26992,255996,1989,2,4,7,5,1989-04-07,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26994,1167907,1987,4,11,12,4,1987-11-12,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26999,113029,1993,3,7,17,6,1993-07-17,DL,19790,DL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
map_data

   OriginState  Flights
0           AK    176.0
1           AL    130.0
2           AR     98.0
3           AZ    862.0
4           CA   3286.0
5           CO    847.0
6           CT    130.0
7           FL   1849.0
8           GA   1537.0
9           HI    284.0
10          IA     85.0
11          ID     87.0
12          IL   1777.0
13          IN    194.0
14          KS     47.0
15          KY    407.0
16          LA    302.0
17          MA    495.0
18          MD    396.0
19          ME     41.0
20          MI    754.0
21          MN    651.0
22          MO    717.0
23          MS     64.0
24          MT     83.0
25          NC    931.0
26          ND     47.0
27          NE    113.0
28          NH     41.0
29          NJ    550.0
30          NM    173.0
31          NV    686.0
32          NY   1200.0
33          OH    516.0
34          OK    207.0
35          OR    257.0
36          PA    877.0
37          PR    105.0
38          RI     94.0
39          SC    162.0
40          SD     28.0
41          TN    530.0
42          TT      4.0
43          TX   3013.0
44          UT    498.0
45          VA    850.0
46          VI     17.0
47          VT     21.0
48          WA    531.0
49          WI    200.0
50          WV     16.0
51          WY     28.0

In [22]:
tree_data

    DestState Reporting_Airline  Flights
0          AK                AS    167.0
1          AK                CO      3.0
2          AK                DL     12.0
3          AK                NW      6.0
4          AK                UA      4.0
..        ...               ...      ...
892        WY                AA      1.0
893        WY                DL      8.0
894        WY                OO     14.0
895        WY                UA      3.0
896        WY                YV      1.0

[897 rows x 3 columns]

In [23]:

def compute_data_choice_2(df):
    # Compute delay averages
    avg_car = df.groupby(['Month','Reporting_Airline'])['CarrierDelay'].mean().reset_index()
    avg_weather = df.groupby(['Month','Reporting_Airline'])['WeatherDelay'].mean().reset_index()
    avg_NAS = df.groupby(['Month','Reporting_Airline'])['NASDelay'].mean().reset_index()
    avg_sec = df.groupby(['Month','Reporting_Airline'])['SecurityDelay'].mean().reset_index()
    avg_late = df.groupby(['Month','Reporting_Airline'])['LateAircraftDelay'].mean().reset_index()
    return avg_car, avg_weather, avg_NAS, avg_sec, avg_late

In [24]:
avg_car, avg_weather, avg_NAS, avg_sec, avg_late=compute_data_choice_2(df)

In [48]:
avg_car, avg_weather, avg_NAS, avg_sec, avg_late

(     Month Reporting_Airline  CarrierDelay
 0        1                9E     26.200000
 1        1                AA     22.347826
 2        1                AS      9.750000
 3        1                B6     12.076923
 4        1                CO     27.200000
 ..     ...               ...           ...
 376     12                VX      0.000000
 377     12                WN      8.458333
 378     12                XE     86.600000
 379     12                YV      7.000000
 380     12                YX     30.500000

 [381 rows x 3 columns],
      Month Reporting_Airline  WeatherDelay
 0        1                9E      0.000000
 1        1                AA      4.608696
 2        1                AS     28.250000
 3        1                B6      1.769231
 4        1                CO      0.000000
 ..     ...               ...           ...
 376     12                VX      1.000000
 377     12                WN      3.125000
 378     12                XE      0.000000
 379     12                YV      0.000000
 380     12                YX      0.000000

 [381 rows x 3 columns],
      Month Reporting_Airline    NASDelay
 0        1                9E    8.200000
 1        1                AA    7.956522
 2        1                AS   60.500000
 3        1                B6    7.538462
 4        1                CO   14.600000
 ..     ...               ...         ...
 376     12                VX  213.000000
 377     12                WN    7.583333
 378     12                XE   13.500000
 379     12                YV    0.000000
 380     12                YX   50.500000

 [381 rows x 3 columns],
      Month Reporting_Airline  SecurityDelay
 0        1                9E            0.0
 1        1                AA            0.0
 2        1                AS            0.0
 3        1                B6            0.0
 4        1                CO            0.0
 ..     ...               ...            ...
 376     12                VX            0.0
 377     12                WN            0.0
 378     12                XE            0.0
 379     12                YV            0.0
 380     12                YX            0.0

 [381 rows x 3 columns],
      Month Reporting_Airline  LateAircraftDelay
 0        1                9E           0.000000
 1        1                AA          22.434783
 2        1                AS          30.000000
 3        1                B6          35.153846
 4        1                CO          13.000000
 ..     ...               ...                ...
 376     12                VX           0.000000
 377     12                WN          30.041667
 378     12                XE           7.400000
 379     12                YV          94.000000
 380     12                YX          10.500000

 [381 rows x 3 columns])

In [6]:



# Application layout
app.layout = html.Div(children=[ 
                                # TODO1: Add title to the dashboard
                                 html.H1('US Domestic Airline Flights Performance', 
                                 style={'textAlign': 'center', 'color': '#503D36',
                                   'font-size': 24}),
    
                                # REVIEW2: Dropdown creation
                                # Create an outer division 
                                html.Div([
                                    # Add an division
                                    html.Div([
                                        # Create an division for adding dropdown helper text for report type
                                        html.Div(
                                            [
                                            html.H2('Report Type:', style={'margin-right': '2em'}),
                                            ]
                                        ),
                                        # TODO2: Add a dropdown
                                        dcc.Dropdown(
                                            id='input-type',
                                            options=[
                                                {'label': 'Yearly Airline Performance Report', 'value': 'OPT1'},
                                                {'label': 'Yearly Airline Delay Repor', 'value': 'OPT2'},],
                                            placeholder="Select a report type ",
                                            style={'width':'80%', 'padding':'3px', 'font-size': '20px', 'text-align-last' : 'center'})       
                                    # Place them next to each other using the division style
                                    ], style={'display':'flex'}),
                                    
                                   # Add next division 
                                   html.Div([
                                       # Create an division for adding dropdown helper text for choosing year
                                        html.Div(
                                            [
                                            html.H2('Choose Year:', style={'margin-right': '2em'})
                                            ]
                                        ),
                                        dcc.Dropdown(id='input-year', 
                                                     # Update dropdown values using list comphrehension
                                                     options=[{'label': i, 'value': i} for i in year_list],
                                                     placeholder="Select a year",
                                                     style={'width':'80%', 'padding':'3px', 'font-size': '20px', 'text-align-last' : 'center'}),
                                            # Place them next to each other using the division style
                                            ], style={'display': 'flex'}),  
                                          ]),
                                
                                # Add Computed graphs
                                # REVIEW3: Observe how we add an empty division and providing an id that will be updated during callback
                                html.Div([ ], id='plot1'),
    
                                html.Div([
                                        html.Div([], id='plot2'),
                                        html.Div([ ], id='plot3')
                                ], style={'display': 'flex'}),
                                
                                # TODO3: Add a division with two empty divisions inside. See above disvision for example.
                                html.Div([
                                        html.Div([ ], id='plot4'),
                                        html.Div([ ], id='plot5')
                                ], style={'display': 'flex'}),
                                ])

# Callback function definition Output(component_id='plot1', component_property='children'
# TODO4: Add 5 ouput components
@app.callback( [
               Output(component_id='plot1', component_property='figure'),
               Output(component_id='plot2', component_property='figure'),
               Output(component_id='plot3', component_property='figure'),
               Output(component_id='plot4', component_property='figure'),
               Output(component_id='plot5', component_property='figure')],
    
               [Input(component_id='input-type', component_property='value'),
                Input(component_id='input-year', component_property='value')],
               # REVIEW4: Holding output state till user enters all the form information. In this case, it will be chart type and year
               [State("plot1", 'children'), State("plot2", "children"),
                State("plot3", "children"), State("plot4", "children"),
                State("plot5", "children")
               ]
)

# Add computation to callback function and return graph
def get_graph(chart,year,children1,children2,children3,children4,children5):
        print(chart)
        # Select data
        df =  airline_data[airline_data['Year']==int(year)]
       
        if chart == 'OPT1':
            # Compute required information for creating graph from the data
            bar_data, line_data, div_data, map_data, tree_data = compute_data_choice_1(df)
            
            # Number of flights under different cancellation categories
            bar_fig = px.bar(bar_data, x='Month', y='Flights', color='CancellationCode', title='Monthly Flight Cancellation')
            
            # TODO5: Average flight time by reporting airline
            carrier_fig = px.line(avg_car, x='Month', y='CarrierDelay', color='Reporting_Airline', title='Average carrrier delay time (minutes) by airline')
            
            # Percentage of diverted airport landings per reporting airline
            pie_fig = px.pie(div_data, values='Flights', names='Reporting_Airline', title='% of flights by reporting airline')
            
            # REVIEW5: Number of flights flying from each state using choropleth
            map_fig = px.choropleth(map_data,  # Input data
                    locations='OriginState', 
                    color='Flights',  
                    hover_data=['OriginState', 'Flights'], 
                    locationmode = 'USA-states', # Set to plot as US States
                    color_continuous_scale='GnBu',
                    range_color=[0, map_data['Flights'].max()]) 
            map_fig.update_layout(
                    title_text = 'Number of flights from origin state', 
                    geo_scope='usa') # Plot only the USA instead of globe
            
            # TODO6: Number of flights flying to each state from each reporting airline 
            tree_fig = px.treemap(tree_data, path=['DestState', 'Reporting_Airline'], 
                      values='Flights,',
                      color='Flights',
                      color_continuous_scale='RdBu',
                      title='Flight count by airline to destination state'
                )
            
            
            # REVIEW6: Return dcc.Graph component to the empty division
            return [dcc.Graph(figure=tree_fig), 
                    dcc.Graph(figure=pie_fig),
                    dcc.Graph(figure=map_fig),
                    dcc.Graph(figure=bar_fig),
                    dcc.Graph(figure=line_fig)
                   ]
        else:
            # REVIEW7: This covers chart type 2 and we have completed this exercise under Flight Delay Time Statistics Dashboard section
            # Compute required information for creating graph from the data
            avg_car, avg_weather, avg_NAS, avg_sec, avg_late = compute_data_choice_2(df)
            
            # Create graph
            carrier_fig = px.line(avg_car, x='Month', y='CarrierDelay', color='Reporting_Airline', title='Average carrrier delay time (minutes) by airline')
            weather_fig = px.line(avg_weather, x='Month', y='WeatherDelay', color='Reporting_Airline', title='Average weather delay time (minutes) by airline')
            nas_fig = px.line(avg_NAS, x='Month', y='NASDelay', color='Reporting_Airline', title='Average NAS delay time (minutes) by airline')
            sec_fig = px.line(avg_sec, x='Month', y='SecurityDelay', color='Reporting_Airline', title='Average security delay time (minutes) by airline')
            late_fig = px.line(avg_late, x='Month', y='LateAircraftDelay', color='Reporting_Airline', title='Average late aircraft delay time (minutes) by airline')
            
            return[dcc.Graph(figure=carrier_fig), 
                   dcc.Graph(figure=weather_fig), 
                   dcc.Graph(figure=nas_fig), 
                   dcc.Graph(figure=sec_fig), 
                   dcc.Graph(figure=late_fig)]


# Run the app
if __name__ == '__main__':
    # REVIEW8: Adding dev_tools_ui=False, dev_tools_props_check=False can prevent error appearing before calling callback function
    app.run_server(mode="inline", host="localhost", debug=True, dev_tools_ui=False, dev_tools_props_check=False)

OSError: Address 'http://localhost:8050' already in use.
    Try passing a different port to run_server.

Exception in thread Thread-4:
Traceback (most recent call last):
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/threading.py", line 932, in _bootstrap_inner
    self.run()
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/threading.py", line 870, in run
    self._target(*self._args, **self._kwargs)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/retrying.py", line 49, in wrapped_f
    return Retrying(*dargs, **dkw).call(f, *args, **kw)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/retrying.py", line 212, in call
    raise attempt.get()
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/retrying.py", line 247, in get
    six.reraise(self.value[0], self.value[1], self.value[2])
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/six.py", line 703, in reraise
    raise value
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/retrying.py", line 200, in call
    attempt = Attempt(fn(*args, **kwargs), attempt_number, False)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/jupyter_dash/jupyter_app.py", line 289, in run
    super_run_server(**kwargs)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/dash/dash.py", line 1717, in run_server
    self.server.run(host=host, port=port, debug=debug, **flask_run_options)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/flask/app.py", line 990, in run
    run_simple(host, port, self, **options)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/werkzeug/serving.py", line 1052, in run_simple
    inner()
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/werkzeug/serving.py", line 996, in inner
    srv = make_server(
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/werkzeug/serving.py", line 847, in make_server
    return ThreadedWSGIServer(
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/site-packages/werkzeug/serving.py", line 740, in __init__
    HTTPServer.__init__(self, server_address, handler)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/socketserver.py", line 452, in __init__
    self.server_bind()
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/http/server.py", line 138, in server_bind
    socketserver.TCPServer.server_bind(self)
  File "/home/nsarkhanov/anaconda3/envs/aienv/lib/python3.8/socketserver.py", line 466, in server_bind
    self.socket.bind(self.server_address)
OSError: [Errno 98] Address already in use

## Summary

Congratulations for completing your dash and plotly assignment. 

More information about the libraries can be found [here](https://dash.plotly.com?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

## Author

[Saishruthi Swaminathan](https://www.linkedin.com/in/saishruthi-swaminathan?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DV0101EN-SkillsNetwork-20297740&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

## Changelog

| Date       | Version | Changed by | Change Description                   |
| ---------- | ------- | ---------- | ------------------------------------ |
| 12-18-2020 | 1.0     | Nayef      | Added dataset link and upload to Git |

## <h3 align="center"> Â© IBM Corporation 2020. All rights reserved. <h3/>